<footer class="w-full absolute bottom-0 right-0 left-0">
  <ul
    class="flex items-center justify-center pb-[23px] gap-x-3 [&>li>a]:text-gray-500 [&>li>a]:text-xs text-center font-medium"
  >
    <li>
      <a href="#">Tesla © 2023</a>
    </li>
    <li>
      <a href="#">Privacy & Legal</a>
    </li>
    <li>
      <a href="#">Vehicles Recalls</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="#">News</a>
    </li>
    <li>
      <a href="#">Get Updates</a>
    </li>
    <li>
      <a href="#">Locations</a>
    </li>
  </ul>
</footer>
